org: maferlazon
service: sismos-web-scraping

provider:
  name: aws
  runtime: python3.12
  memorySize: 1024
  timeout: 30
  iam:
    role: arn:aws:iam::873956399712:role/LabRole

functions:
  scrape_table:
    handler: scrap_table.lambda_handler
    package:
      include:
        - ./**
    events:
      - http:
          path: /scrape/table
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    SismosScraping:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: SismosScraping
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST